<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Civic Action</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Placing the Civic Action application logo -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <!-- Adding the necessary CSS styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel2@2.2.2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/magnific-popup@1.2.0/dist/magnific-popup.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@flaticon/flaticon-uicons@3.3.1/css/all/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<!-- Adding the Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" style="font-size: 22px; font-family: 'Lobster', cursive;" th:href="@{/index}">Civic
            Action</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a th:href="@{/index}" class="nav-link"
                                               style="font-size: 17px; font-family: 'Lobster', cursive;">Home</a></li>
                <li class="nav-item"><a th:href="@{/laws}" class="nav-link"
                                        style="font-size: 17px; font-family: 'Lobster', cursive;">Laws</a></li>
                <li class="nav-item"><a th:href="@{/results}" class="nav-link"
                                        style="font-size: 17px; font-family: 'Lobster', cursive;">Results</a></li>
                <li class="nav-item"><a th:href="@{/chat}" class="nav-link"
                                        style="font-size: 17px; font-family: 'Lobster', cursive;">CitizenAI</a></li>
                <li class="nav-item"><a th:href="@{/contact}" class="nav-link"
                                        style="font-size: 17px; font-family: 'Lobster', cursive;">Contact</a></li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a th:href="@{/login}" class="nav-link"
                       style="font-size: 17px; font-family: 'Lobster', cursive;">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a th:href="@{/logout}" class="nav-link"
                       style="font-size: 17px; font-family: 'Lobster', cursive;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Adding the Home Slider Section -->
<section class="home-slider owl-carousel">
    <div class="slider-item" th:style="|background-image: url(@{/images/backgrounds/home_background_1.jpg});|">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Welcome to Civic Action</h1>
                        <h2>Engaging communities & driving change</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider-item" th:style="|background-image: url(@{/images/backgrounds/home_background_2.jpg});|">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-12 ftco-animate text-center">
                    <div class="text mb-5 pb-3">
                        <h1 class="mb-3">Join the Civic Movement</h1>
                        <h2>Shape the future together</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Adding the Law Proposal Form -->
<section class="ftco-booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form th:action="@{/submit/law}" method="POST" class="booking-form">
                    <div class="row">
                        <div class="col-md d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="userName">Enter name</label>
                                    <input type="text" class="form-control"
                                           style="font-family: 'Times New Roman', Times, serif; font-size: 17px;"
                                           id="userName" name="userName" placeholder="Proposed by">
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="userGender">Select gender</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fas fa-chevron-up"></span></div>
                                            <select id="userGender" name="userGender" class="form-control"
                                                    style="font-family: 'Times New Roman', Times, serif; font-size: 17px;">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="lawDescription">Describe the law</label>
                                    <input type="text" class="form-control"
                                           style="font-family: 'Times New Roman', Times, serif; font-size: 17px;"
                                           id="lawDescription" name="lawDescription" placeholder="Description of the law">
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            <div class="form-group p-4 align-self-stretch d-flex align-items-end">
                                <div class="wrap">
                                    <label for="lawCategory">Law category</label>
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="fas fa-chevron-up"></span></div>
                                            <select id="lawCategory" name="lawCategory" class="form-control"
                                                    style="font-family: 'Times New Roman', Times, serif; font-size: 17px;">
                                                <option value="Education">Education</option>
                                                <option value="Health">Health</option>
                                                <option value="Economy">Economy</option>
                                                <option value="Environment">Environment</option>
                                                <option value="Justice">Justice</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md d-flex">
                            <div class="form-group d-flex align-self-stretch">
                                <input type="submit" value="Propose the law"
                                       class="btn btn-primary py-3 px-4 align-self-stretch"
                                       style="font-family: 'Times New Roman', Times, serif; font-size: 21px;">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Adding About Us Section -->
<section class="ftco-section ftc-no-pb ftc-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                 th:style="|background-image: url(@{/images/backgrounds/video_background.jpg});|">
                <a href="https://www.youtube.com/watch?v=h4eBSAZleik" target="_blank"
                   class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="fas fa-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section heading-section-wo-line pt-md-5 pl-md-5 mb-5">
                    <div class="ml-md-0">
                        <span class="subheading">Welcome to Civic Action</span>
                        <h2 class="mb-4">About us</h2>
                    </div>
                </div>
                <div class="pb-md-5">
                    <p>Civic Action is a community dedicated to all citizens who want to actively engage in the
                        legislative process. You can propose laws, discuss them with other community members,
                        and vote on those already proposed, giving you the opportunity to have your opinions
                        heard and considered in decision-making. Together, we can create a better and fairer
                        future through active participation in legislative changes.</p>
                    <p>By joining the Civic Action community, you become part of a movement that empowers
                        citizens to influence the laws that shape their lives. The platform provides a space
                        where your voice can be heard, your ideas can be shared, and the power of collective
                        action can bring about real change in the legislative landscape. It’s not just about
                        voting—it’s about building a community of engaged citizens working together to shape
                        the future.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Adding Counter Section -->
<section class="ftco-section ftco-counter img" id="section-counter" style="margin-top: 90px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="25">0</strong>
                                <span style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">Registered Users</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="12">0</strong>
                                <span style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">Laws Discussed</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="11">0</strong>
                                <span style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">Proposed by Users</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
                        <div class="block-18 text-center">
                            <div class="text">
                                <strong class="number" data-number="101">0</strong>
                                <span style="font-family: 'Times New Roman', Times, serif; font-size: 18px;">Chatbot Interactions</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Adding Meet the Team Section -->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 style="font-size: 29px;">Meet the Civic Action team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" th:style="|background-image: url(@{/images/team/member_1.jpg});|"></div>
                    <div class="desc pl-3">
                        <div class="d-flex align-items-center">
                            <h3><span>Andrei Popescu</span></h3>
                        </div>
                        <div class="d-block">
                            <p>Community Advocate, dedicated to promoting initiatives that bring positive
                                change. Builds connections between people and sustainable solutions.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" th:style="|background-image: url(@{/images/team/member_2.jpg});|"></div>
                    <div class="desc pl-3">
                        <div class="d-flex align-items-center">
                            <h3><span>Ana Cojocaru</span></h3>
                        </div>
                        <div class="d-block">
                            <p>Creative Mind, bringing innovative ideas to every project. Transforms
                                vision into reality with a focus on community needs.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" th:style="|background-image: url(@{/images/team/member_3.jpg});|"></div>
                    <div class="desc pl-3">
                        <div class="d-flex align-items-center">
                            <h3><span>Maria Stanescu</span></h3>
                        </div>
                        <div class="d-block">
                            <p>People Connector, helping to create partnerships and collaborations between
                                various groups. Builds impactful networks for social change.</p>
                        </div>
                    </div>
                </div>
                <div class="pricing-entry d-flex ftco-animate">
                    <div class="img" th:style="|background-image: url(@{/images/team/member_4.jpg});|"></div>
                    <div class="desc pl-3">
                        <div class="d-flex align-items-center">
                            <h3><span>Gabriela Enache</span></h3>
                        </div>
                        <div class="d-block">
                            <p>Insights Specialist, analyzing data to provide effective solutions. Uses
                                information to make well-informed decisions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Adding Useful Resources Section -->
<section class="ftco-section" style="margin-top: -130px;">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 style="font-size: 29px;">Useful Resources</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a class="block-20" th:style="|background-image: url(@{/images/media/article_1.jpg});|">
                    </a>
                    <div class="text mt-3 d-block">
                        <h3 class="heading mt-3"><a href="https://www.parlament.md/acasa.nspx">Go to Parliament's
                            website for up-to-date
                            information on laws</a></h3>
                        <div class="meta mb-3">
                            <div>Jan 17 2025,</div>
                            <div> Parliament</div>
                            <div class="meta-chat"><span class="fas fa-comment"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a class="block-20" th:style="|background-image: url(@{/images/media/article_2.jpg});|">
                    </a>
                    <div class="text mt-3 d-block">
                        <h3 class="heading mt-3"><a href="https://monitorul.gov.md/">Visit the Official Monitor
                            of Moldova for the latest legal updates</a></h3>
                        <div class="meta mb-3">
                            <div>Jan 16 2025,</div>
                            <div> Monitor</div>
                            <div class="meta-chat"><span class="fas fa-comment"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a class="block-20" th:style="|background-image: url(@{/images/media/article_3.jpg});|">
                    </a>
                    <div class="text mt-3">
                        <h3 class="heading mt-3"><a href="https://gov.md/ro">Access the official Government
                            website for accurate news and updates</a></h3>
                        <div class="meta mb-3">
                            <div>Jan 18 2025,</div>
                            <div> Government</div>
                            <div class="meta-chat"><span class="fas fa-comment"></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry align-self-stretch">
                    <a class="block-20" th:style="|background-image: url(@{/images/media/article_4.jpg});|">
                    </a>
                    <div class="text mt-3">
                        <h3 class="heading mt-3"><a href="https://www.zdg.md/">Explore Ziarul de Gardă for
                            insights on laws and justice in Moldova</a></h3>
                        <div class="meta mb-3">
                            <div>Jan 20 2025,</div>
                            <div> Publication</div>
                            <div class="meta-chat"><span class="fas fa-comment"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Adding Civic Action Objectives Section -->
<section class="ftco-section" style="margin-top: -150px;">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <h2 style="font-size: 29px;">Our Civic Action Objectives</h2>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-gavel"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Legislative data</h3>
                            It provides quick and detailed access to information about current laws and
                            ongoing legislative projects.
                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-vote-yea"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Civic participation</h3>
                            It allows active involvement in the decision-making process, through votes,
                            proposals for laws and suggestions.
                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-book-open"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Civic education</h3>
                            Provides comprehensive educational resources to understand the legislative
                            process and civil rights.
                        </div>
                    </div>
                </div>

                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services py-4 d-block text-center">
                        <div class="d-flex justify-content-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="fas fa-calendar-alt"></span>
                            </div>
                        </div>
                        <div class="media-body p-2 mt-2">
                            <h3 class="heading mb-3">Civic events</h3>
                            Keep up to date with important events and meetings related to civic rights
                            and responsibilities.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Implement section with activity images and pop-up gallery -->
<section class="instagram pt-5" style="margin-top: -80px;">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2><span style="font-size: 29px;">Discover Our Activities</span></h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-12 col-md ftco-animate">
                <a th:href="@{/images/about/activity_1.jpg}" class="insta-img image-popup"
                   th:style="|background-image: url(@{/images/about/activity_1.jpg});|">
                    <div class="icon d-flex justify-content-center">
                        <span class="fas fa-images align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a th:href="@{/images/about/activity_2.jpg}" class="insta-img image-popup"
                   th:style="|background-image: url(@{/images/about/activity_2.jpg});|">
                    <div class="icon d-flex justify-content-center">
                        <span class="fas fa-images align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a th:href="@{/images/about/activity_3.jpg}" class="insta-img image-popup"
                   th:style="|background-image: url(@{/images/about/activity_3.jpg});|">
                    <div class="icon d-flex justify-content-center">
                        <span class="fas fa-images align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a th:href="@{/images/about/activity_4.jpg}" class="insta-img image-popup"
                   th:style="|background-image: url(@{/images/about/activity_4.jpg});|">
                    <div class="icon d-flex justify-content-center">
                        <span class="fas fa-images align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a th:href="@{/images/about/activity_5.jpg}" class="insta-img image-popup"
                   th:style="|background-image: url(@{/images/about/activity_5.jpg});|">
                    <div class="icon d-flex justify-content-center">
                        <span class="fas fa-images align-self-center"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Implement footer with Civic Action details, useful links, and contact information -->
<footer class="ftco-footer ftco-bg-dark ftco-section" style="margin: 0; padding: 60px; overflow: hidden;">
    <div class="container">
        <div class="row mb-0">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Civic Action</h2>
                    <p>Civic Action is a platform empowering citizens to actively participate in proposing,
                        discussing, and voting on laws, fostering transparency and democracy.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a
                                href="https://www.linkedin.com/in/constantin-stamate-569546303/"><span
                                class="fab fa-linkedin-in"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/constantin.stamati.33"><span
                                class="fab fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://github.com/Constantin-Stamate"><span
                                class="fab fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">How It Works</h2>
                    <p>Users can propose laws, discuss their impact, share opinions, and vote,
                        ensuring a transparent and democratic process.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Useful Links</h2>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/laws}" class="py-2 d-block">Laws</a></li>
                        <li><a th:href="@{/results}" class="py-2 d-block">Results</a></li>
                        <li><a th:href="@{/chat}" class="py-2 d-block">CitizenAI</a></li>
                        <li><a th:href="@{/contact}" class="py-2 d-block">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="fas fa-map-marker" style="margin-right: 13px;"></span><span class="text">Students' Street 7/1, Chisinau, Moldova</span>
                            </li>
                            <li><span class="fas fa-phone" style="margin-right: 13px;"></span><span class="text">068 68 61 71</span>
                            </li>
                            <li><span class="fas fa-envelope" style="margin-right: 13px;"></span><span class="text">civ.app@gmail.com</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Implement loading spinner with animation -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

<!-- Adding the necessary JavaScript files -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script th:src="@{/js/migrate.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/waypoints@4.0.1/lib/jquery.waypoints.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.stellar@0.6.2/jquery.stellar.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.2.0/dist/jquery.magnific-popup.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.animate-number@0.0.14/jquery.animateNumber.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/scrollax@1.0.0/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{/js/main.js}"></script>

</body>

</html>
