<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civic Action</title>

    <!-- Placing the Civic Action application logo -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">

    <!-- Adding the necessary CSS styles -->
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body th:style="|background: url(@{/images/backgrounds/authentication_background.jpg}) no-repeat center; background-size: cover;|">

<!-- Create registration form -->
<div class="wrapper">
    <form th:action="@{/register/save}" method="post" th:object="${user}">
        <h2>Create an account</h2>

        <div class="input-field">
            <input type="text" th:field="*{name}" required>
            <label>Enter your username</label>
        </div>

        <div class="input-field">
            <input type="email" th:field="*{email}" required>
            <label>Enter your email</label>
        </div>

        <div class="input-field">
            <input type="password" th:field="*{password}" required>
            <label>Enter your password</label>
        </div>

        <button type="submit">Register</button>

        <div class="register">
            <p>Have already an account? <a th:href="@{/login}">Login Here</a></p>
        </div>
    </form>
</div>

</body>

</html>
